<div id="bg-home">
    <div class="container">
        <div id="title" class="shadow text-center bg-white bg-opacity-10 p-5">
            <h1 id="heading" class="fw-bolder display-4">PokémonCenter ti dà il benvenuto!</h1>
            <p class="fw-normal">
                La clinica veterinaria di punta dedicata alla cura e al benessere dei vostri amici Pokémon. Nel nostro centro, ogni Pokémon riceve le cure più avanzate e amorevoli da parte dei nostri esperti veterinari, specializzati in una vasta gamma di trattamenti. Che si tratti di una semplice visita di controllo, ricoveri, o trattamenti più complessi, il nostro staff è qui per assicurare che il vostro compagno sia sempre in perfetta forma.
                <br />
                <br />
                Inoltre, comprendiamo l'angoscia che può derivare dalla scomparsa di un amato Pokémon. Se avete smarrito un Pokémon, potete utilizzare il nostro servizio di ricerca tramite numero di chip.
            </p>
            @Html.ActionLink("Ricerca", "Index", "Home", new { area = "" }, new { @class = "mx-auto fs-5 nav-link rounded-pill px-4 py-1 border border-1 border-white w-50" })
        </div>

    </div>
</div>


@* ------------------------------ TOASTS --------------------------------- *@

@if (TempData["Logout"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.info('@TempData["Logout"]')
    </script>
}

@* ------------------------------ TOASTS --------------------------------- *@

@if (TempData["LoginRiuscito"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["LoginRiuscito"]')
    </script>
}

@if (TempData["Message"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["Message"]')
    </script>
}