<div id="bg-home">
</div>

<div class="container">
    <div id="title" class="shadow text-center bg-white bg-opacity-10 p-5">
        <h1 id="heading" class="fw-bolder display-4">Pokémon Center ti dà il benvenuto!</h1>
        <p class="fw-normal">
            La clinica veterinaria di punta dedicata alla cura e al benessere dei vostri amici Pokémon.  Se avete smarrito un Pokémon, potete utilizzare il nostro servizio di ricerca tramite numero di chip.
        </p>
        @Html.ActionLink("Ricerca", "Index", "Home", new { area = "" }, new { @class = "mx-auto fs-6 nav-link w-50 rounded-pill p-0 px-3 py-1 border border-1 border-white" })
    </div>

</div>


@* ------------------------------ TOASTS --------------------------------- *@

@if (TempData["Logout"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.info('@TempData["Logout"]')
    </script>
}

@* ------------------------------ TOASTS --------------------------------- *@

@if (TempData["LoginRiuscito"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["LoginRiuscito"]')
    </script>
}

@if (TempData["Message"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["Message"]')
    </script>
}