@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
    font-family: 'Bai Jamjuree', sans-serif;
    background: url('/Content/img/sfondoProdotti.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    /*overflow: hidden;*/ /* da cambiare */
}

.nav-link {
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    font-weight: bold;
}

.toast {
    margin-top: 110px !important;
}

/*input,
select,
textarea {
    max-width: 280px;
}*/

.nav-link:hover {
    color: black;
    background-color: aliceblue !important;
}

.navbar {
    z-index: 1000;
}

#heading {
    filter: drop-shadow(1px, 2px, 1px, black);
}

#title {
    color: white;
    position: fixed;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700 !important;
    font-style: italic;
    top: 45%;
    left: 50%;
    transform: translate(-90%, -50%);
}


#bg-home {
    background: url('/Content/assets/img/bg-home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin-top: -192px;
}

#background {
    background: url('/Content/assets/img/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 85vh;
    padding-top: 30px;
    position: relative;
}


#Home-footer {
    background-color: #002171;
    letter-spacing: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#Animali-footer, #Ricoveris-footer, #Visite-footer, #Prodotti-footer, #Carrello-footer, #Arena-footer, #Cassetti-footer, #Armadietti-footer, #Utentis-footer, #DettagliVendita-footer {
    background-color: #AE222B;
    letter-spacing: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#Home-navbar {
    background-color: #002171;
}

#Animali-navbar, #Ricoveris-navbar, #Visite-navbar, #Prodotti-navbar, #Carrello-navbar, #Arena-navbar, #Cassetti-navbar, #Armadietti-navbar, #Utentis-navbar, #DettagliVendita-navbar {
    background-color: #AE222B;
}

#pokedex {
    background: url('/Content/assets/img/pokedex.png') no-repeat center center;
    background-size: contain;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; 
    height: 600px;
}


#carouselExample {
    position: absolute;
    top: 74%; 
    left: 85%; 
    transform: translate(-50%, -50%); 
    width: 800px;
    height: 600px;
    overflow: visible !important;
}

.carousel-item img {
    width: 250px !important;
    height: auto;
}

.carousel-control-prev {
    top: 360px;
    left: 205px;
    z-index: 10;
    width: 30px;
    height: 20px;
}

.carousel-control-next {
    top: 360px;
    right: 530px;
    z-index: 10;
    width: 30px;
    height: 20px;
}

.pkm-description {
    font-family: 'Share Tech Mono', sans-serif;
    position: fixed;
    top: 44.5%;
    left: -2.8%;
    color: white;
    margin-top: 50px;
    line-height: 15.5px;
    color: #4CAF50;
}
.carousel-item {
    transition: transform 0s !important;
}

#button-container {
    position: fixed;
    top: 42%;
    left: 3%;
}

#add-container {
    position: fixed;
    top: 1%;
    left: 32.5%;
}

#action-container {
    position: fixed;
    top: 2%;
    left: 56.5%;
}

.add-action {
    font-size: 60px;
}


.custom-action {
    color: rgba(0,0,0, 0.5) !important;
}

.custom-action:hover, .custom-action:focus {
  color: #34252A !important;
}

#refund-container {
    position: fixed;
    top: 14.5%;
    left: 50%;
}

#second-bg {
    background: url('/Content/assets/img/second-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 105px;
    bottom: 0;
    width: 100%;
    z-index: -1;
}


.form-switch .form-check-input {
    cursor: pointer;
}

/*----- CARRELLO -----*/

.pokemon-card {
    background: rgba(255, 255, 255, 0.7);
    border-left: 5px solid #DC3545;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .pokemon-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }

.order-summary {
    background: rgba(255, 255, 255, 0.7);
    color: #DC3545;
    border: 1px solid #DC3545;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-pokemon {
    background-color: #DC3545;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    transition: background-color 0.2s ease;
}

.btn-pokemon:hover {
    background-color: #C82333;
    color: black;
}

.carrello-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* ------------ARENA POKEMON------------*/

#arena {
    background: url('/Content/assets/img/arena.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 88vh;
    padding-top: 1px;
    position: relative;
}

.arena-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pokemon-select {
    margin: 10px 0;
}

.pokemon-img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hp-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.hp-fill {
    height: 20px;
    border-radius: 4px;
    background-color: #4CAF50;
}

#pokemon1Details, #pokemon2Details {
    display: inline-block;
}

@media (max-width: 768px) {
    .arena-container {
        flex-direction: column;
    }
}



