﻿@model ClinicaPokemon.Models.Animali

@{
    ViewBag.Title = "FindYourPokemon";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">

    <h2 class="text-center fw-bold display-3 pb-2 mt-3 shadow text-dark">Find Your Pokemon!</h2>
    <p class="text-center px-5 mb-5 text-dark"><span class="fw-bold">Hai smarrito il tuo Pokemon?</span> Nessun problema, inserisci il numero chip e ti diremo se e' presente nella nostra struttura!</p>

    <div class="container d-flex flex-column" style="padding-bottom: 115px">
        <div class="Row d-flex justify-content-center">
            <div class="col-6 d-flex flex-column align-content-center">

                <div class="form-horizontal text-center">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group text-center">

                        <p class="p-0 m-0 fw-bold text-dark">NUMERO CHIP</p>
                        <div class="mx-auto col-6 text-center">
                            @Html.EditorFor(model => model.NrMicro, new { htmlAttributes = new { @class = "form-control", @id = "InputNrMicro" } })
                            @Html.ValidationMessageFor(model => model.NrMicro, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="form-group text-center">
                    <div class="mx-auto col-6 text-center">
                        <input type="submit" id="Find" value="Cerca" class="mx-auto fs-4 nav-link rounded-pill p-2 px-3 my-5 w-100 bg-white bg-opacity-25 mt-3" />
                    </div>
                </div>

                <div class="p-3 text-center">
                    <p id="IsNotFound" class="text-danger d-none"> Questo pokemon non è nella nostra struttura! </p>
                </div>

            </div>
        </div>
    </div>
    <div id="pokemonDetails"></div>
</div>

}



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();

                var nrMicro = $('#InputNrMicro').val();

                $.ajax({
                    url: '/Animali/FindYourPokemon',
                    type: 'POST',
                    data: { NrMicro: nrMicro },
                    success: function (response) {
                        if (response.success) {
                            var pokemon = response.data;
                            var html = `
                                <p>Id: ${pokemon.idAnimale}</p>
                                <p>Nome: ${pokemon.Nome}</p>
                                <p>Tipologia: ${pokemon.Tipologia}</p>
                                <p>Colore: ${pokemon.Colore}</p>
                                <p>Data di Nascita: ${pokemon.DataNascita}</p>
                                <p>Microchip: ${pokemon.Microchip}</p>
                                <p>Numero Microchip: ${pokemon.NrMicro}</p>
                                <p>Id Utente: ${pokemon.FK_idUtente}</p>
                                <p>Data di Registrazione: ${pokemon.DataRegistrazione}</p>
                                <p>Immagine: <img src="${pokemon.Immagine}" alt="Immagine Pokemon"></p>
                            `;
                            $('#pokemonDetails').html(html);
                        } else {
                            $('#IsNotFound').removeClass('d-none');
                            $('#IsNotFound').text(response.message);
                        }
                    },
                    error: function () {
                        alert('Si è verificato un errore durante la ricerca del tuo Pokémon.');
                    }

                });
                return false;
            });
        });
        </script>